body
{
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'ubuntu';
}
header
{
    width: auto;
    color: white;
    background-color: rgb(0, 140, 255);
    width: 100%;

}
header nav ul
{
   list-style: none;
   display: flex;
   font-size: larger;
   align-items: center;
   justify-content: center;
   padding-top: 5vh;
   padding-bottom: 5vh;
   margin: 0px !important;
}
header nav ul li
{
    display: inline;
    margin-right: 5vw;
    cursor: pointer;
}
.top-title
{
    width: 100%;
    margin-top: 20vh;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
}

.loginform
{
    width: 80%;
    margin-left: 10%;
    margin-top: 20vh;
    text-align: center;
    padding-top: 5vh;
    border: 1vw solid rgb(0, 140, 255);
    padding-bottom: 5vh;
}

.loginform label
{
    margin-left: 5vw;
}
.loginform input:last-child
{
    margin-left: 5vw;
    border: 1vh solid rgb(0, 140, 255);
    background-color: white;
}

.hide h2
{
    width: 100%;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}